html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100%;
}
body img {width: 100%;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {font-family : 'GowunDodum-Regular'; src : url(../font/GowunDodum-Regular.ttf)}
@font-face {font-family : 'Parisienne-Regular'; src : url(../font/Parisienne-Regular.ttf)}

body .section {text-align: center; padding: 0 10px; box-sizing: border-box;}
body p.tit {font-family : 'Parisienne-Regular'; color: #b38f93; font-size: 20px; font-weight: 400;}
body p {font-family : 'GowunDodum-Regular';}

.intro {position: relative; text-align: center;}


.intro .cont {display: flex; position: absolute; top: 40px; width: 100%;}
.intro .cont p {flex: 1; font-size: 16px; font-weight: 600; letter-spacing: 10px;}
.intro .cont p:nth-child(2) {letter-spacing: 5px; font-size: 25px;}
/*.intro .cont p:first-child {position: absolute; left: 36px; top: 45px;}
.intro .cont p:nth-child(2) {position: absolute; top: 45px; left: 50%; margin-left: -46px; letter-spacing: 5px; font-size: 25px;}
.intro .cont p:nth-child(3) {position: absolute; right: 36px; top: 45px;}*/
.intro .cont span {display: block; font-size: 12px; letter-spacing: normal; color: #b38f93; margin-top: 5px;}
.intro .cont p:nth-child(3) span {letter-spacing: 1.5px;}
.intro .invi > p {font-size: 15px; font-weight: 400; line-height: 35px; margin-top: 30px;}
.intro .fam {width: 310px; margin: 40px auto;}
.intro .fam p {font-size: 16px; font-weight: 600; text-align-last: right;}
.intro .fam p span {font-size: 15px; font-weight: 400; margin-right: 20px;}
.intro .fam p span.dot {font-size: 30px; margin: 0; vertical-align: text-top; padding: 0 3px;}

.day {margin-top: 100px; position: relative;}
.day p {font-size: 18px; font-weight: 600; line-height: 30px; margin-top: 30px;}
.day .calwrap {width: 100%; margin-top: 50px; position: relative;}
.day table {width: 100%; margin: 0 auto;}
.day table thead {font-weight: 600;}
.day table td {padding: 20px 0 10px;}
.day p.calheart {position: absolute; top: 208px; right: 81px; width: 30px;}

.story {background-image: url(../img/story_bg.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;padding: 35px 10px; box-sizing: border-box; margin-top: 70px; text-align: center;}
.story .tit+p {padding: 15px 0 25px; font-size: 25px; border-bottom: 1px dashed #d7d7d7;}
.chat_wrap {margin-top: 30px; display: flex; flex-direction: column; align-items: center; font-family : 'GowunDodum-Regular';}
.chat_wrap .message-row {width: 100%; display: flex; margin-bottom: 50px;}
.chat_wrap .message-row-r {justify-content: flex-end;}
.chat_wrap .message-row img {width: 12vw; height: 12vw; border-radius: 50%; margin-right: 10px;}
.chat_wrap .que.message-row img {border-radius: 30%; width: 10vw; height: 10vw;}
.chat_wrap .ms_box {display: flex; align-items: flex-end;}
.chat_wrap .que .ms_box span {color: #ad868b; font-weight: bold;}
.chat_wrap .ans .ms_box span {line-height: 20px;}
.chat_wrap .ms_bubble {text-align-last: left; background-color: white; padding: 2.5vw 3vw; border-radius: 0 12px 12px 12px; margin-right: 5px; font-size: 3vw;}
.chat_wrap .message-row-r .ms_bubble {background: #fee500; border-radius: 12px 0 12px 12px;}


.gallery {padding: 35px 0; box-sizing: border-box; margin-top: 70px;}
.gallery p.tit {margin-bottom: 25px;}
/* .gallery #button1 {font-family : 'GowunDodum-Regular'; border: 1px solid #d5c2c3; padding: 5px 10px; border-radius: 10px; background: none; margin-top: 20px;} */
.gallery .top_img, .gallery .bot_img {overflow: hidden;}
.gallery .top_img > div:nth-child(1n), .gallery .bot_img > div:nth-child(1n) {width: 49%; float: left;}
.gallery .top_img > div:nth-child(2n), .gallery .bot_img > div:nth-child(2n) {width: 48%; margin-left: 10px; float: left;}
.gallery .contl div {height: 171px;}
.gallery .contr div {height: 352px;}
.gallery .contl div img {height: 100%;}
.gallery .contl div:first-child {margin-bottom: 10px;}

#check-btn { display: none;}
#check-btn:checked ~ #img_more { display: block; } 
#img_more {display: none;}
.gallery #morebtn {font-family : 'GowunDodum-Regular'; border: 1px solid #d5c2c3; padding: 5px 10px; border-radius: 10px; background: none; margin-top: 20px;}


